<div id="form-content">
    <h1 id="title-form" class="green-text">Create a client</h1>
    <p id="form-text-form">Type the new client's infos</p>
    <form #mainForm = "ngForm" id="form-create">
        <label class="green-text label" for="lastName">Last Name*</label>
        <input [(ngModel)]="client.identity.lastName" class="formText" placeholder="Last Name" name="lastName" id="formText"  required/> 
        <label class="green-text label" for="firstName">First Name*</label>
        <input [(ngModel)]="client.identity.firstName" class="formText" placeholder="First Name" name="firstName" id="formText" required/> 
        <label class="green-text label" for="mail">Mail address*</label>
        <input [(ngModel)]="client.contactDetails.mail" class="formText" placeholder="Mail adress" name="mail" type="email" required/> 
        <label class="green-text label" for="phoneNumber">Phone Number*</label>
        <input [(ngModel)]="client.contactDetails.phoneNumber" class="formText" placeholder="Phone number" name="phoneNumber" required/> 
        <label class="green-text label" for="address">Address(number & street)*</label>
        <input [(ngModel)]="client.contactDetails.address" class="formText" placeholder="Address" name="address" id="formText" required/> 
        <label class="green-text label" for="city">City*</label>
        <input [(ngModel)]="client.contactDetails.city" class="formText" placeholder="City" name="city" id="formText" required/> 
        <label class="green-text label" for="postalCode">Postal Code*</label>
        <input [(ngModel)]="client.contactDetails.postalCode" class="formText" placeholder="Postal Code" name="postalCode" required/> 
    </form>

    <button (click)="createClient()" id="create-btn">Create new Client</button>
    <!-- <button (click)="loadClients()" id="delete-btn">
        <img src="../assets/meteor.svg" id="meteorite" alt="">     
        Delete Client
        <img src="../assets/meteor.svg" id="meteorite" alt="">
            
    </button> -->
</div>