<div id="desktop-menu" >

        
    <ul id="desktop-menu-list" >
        <li id="icon-content">
            <a routerLink="home" id="home-icon">
                <svg width="86" height="85" viewBox="0 0 86 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M85 0H-9V84.13H85V0Z" fill="#353535"/>
                    <g opacity="0.1">
                    <path opacity="0.1" d="M84.9926 82.1448V84.1301H82.7744" stroke="#20263C" stroke-miterlimit="10"/>
                    <path opacity="0.1" d="M78.5081 84.1299H-4.65234" stroke="#20263C" stroke-miterlimit="10" stroke-dasharray="5.77 5.77"/>
                    <path opacity="0.1" d="M-2.52295 0H80.6448" stroke="#20263C" stroke-miterlimit="10" stroke-dasharray="5.77 5.77"/>
                    <path opacity="0.1" d="M82.7744 0H84.9926V1.98529" stroke="#20263C" stroke-miterlimit="10"/>
                    <path opacity="0.1" d="M84.9927 5.80371V80.2322" stroke="#20263C" stroke-miterlimit="10" stroke-dasharray="5.77 5.77"/>
                    </g>
                    <path opacity="0.8" d="M37.6784 14.5588L12.4417 29.5274V29.5556L31.9564 41.1241L37.6784 37.7241V14.5588Z" fill="#A1FF92"/>
                    <path opacity="0.8" d="M12.4417 52.7349L37.6784 67.6891V44.524L31.9564 41.124L12.4417 52.6925V52.7349Z" fill="#A1FF92"/>
                    <path opacity="0.8" d="M65.3895 29.8943L40.1531 14.9258V38.091L45.8908 41.491L65.3895 29.9225V29.8943Z" fill="#A1FF92"/>
                    <path opacity="0.8" d="M40.1531 68.0565L65.3895 53.0877V53.0595L45.8908 41.491L40.1531 44.891V68.0565Z" fill="#A1FF92"/>
                    <path opacity="0.8" d="M12.4417 29.5557V52.6927L31.9564 41.1242L12.4417 29.5557Z" fill="#414042"/>
                    <path opacity="0.8" d="M65.3904 53.0596V29.9226L45.8911 41.4912L65.3904 53.0596Z" fill="#414042"/>
                   </svg>
            </a>
        </li>

        <li tabindex="3">
            <a routerLink="list">
                Client List
           </a>
        </li>
        <li tabindex="4">
            <a routerLink="allAccounts">
                Account List
            </a>
        </li>
        <li tabindex="5">
            <a routerLink="signin">
                Logout
            </a>
        </li>
    </ul>

</div>

<div id="mobile-menu">
    <div>
        <a routerLink="home">
            <svg width="86" height="85" viewBox="0 0 86 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M85 0H-9V84.13H85V0Z" fill="#353535"/>
                <g opacity="0.1">
                <path opacity="0.1" d="M84.9926 82.1448V84.1301H82.7744" stroke="#20263C" stroke-miterlimit="10"/>
                <path opacity="0.1" d="M78.5081 84.1299H-4.65234" stroke="#20263C" stroke-miterlimit="10" stroke-dasharray="5.77 5.77"/>
                <path opacity="0.1" d="M-2.52295 0H80.6448" stroke="#20263C" stroke-miterlimit="10" stroke-dasharray="5.77 5.77"/>
                <path opacity="0.1" d="M82.7744 0H84.9926V1.98529" stroke="#20263C" stroke-miterlimit="10"/>
                <path opacity="0.1" d="M84.9927 5.80371V80.2322" stroke="#20263C" stroke-miterlimit="10" stroke-dasharray="5.77 5.77"/>
                </g>
                <path opacity="0.8" d="M37.6784 14.5588L12.4417 29.5274V29.5556L31.9564 41.1241L37.6784 37.7241V14.5588Z" fill="#A1FF92"/>
                <path opacity="0.8" d="M12.4417 52.7349L37.6784 67.6891V44.524L31.9564 41.124L12.4417 52.6925V52.7349Z" fill="#A1FF92"/>
                <path opacity="0.8" d="M65.3895 29.8943L40.1531 14.9258V38.091L45.8908 41.491L65.3895 29.9225V29.8943Z" fill="#A1FF92"/>
                <path opacity="0.8" d="M40.1531 68.0565L65.3895 53.0877V53.0595L45.8908 41.491L40.1531 44.891V68.0565Z" fill="#A1FF92"/>
                <path opacity="0.8" d="M12.4417 29.5557V52.6927L31.9564 41.1242L12.4417 29.5557Z" fill="#414042"/>
                <path opacity="0.8" d="M65.3904 53.0596V29.9226L45.8911 41.4912L65.3904 53.0596Z" fill="#414042"/>
               </svg>
        </a>
            
    </div>

    <button id="btn-toggle-mobile" (click)="toggleMenu()" >
        <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 16H24V13.3333H0V16ZM0 9.33333H24V6.66667H0V9.33333ZM0 0V2.66667H24V0H0Z" fill="white"/>
        </svg>
    </button>

    <div *ngIf="showMenu">
        <ul id="mobile-menu-list">
            <li tabindex="0"> 
                <svg width="26" height="28" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin slice">
                <g clip-path="url(#clip0_9_771)">
                <path d="M5.87575 6L4.58325 7.41L8.78159 12L4.58325 16.59L5.87575 18L11.3758 12L5.87575 6Z" fill="#3DC427"/>
                <path d="M11.9165 6L10.624 7.41L14.8224 12L10.624 16.59L11.9165 18L17.4165 12L11.9165 6Z" fill="#3DC427"/>
                </g>
                <defs>
                <clipPath id="clip0_9_771">
                <rect width="22" height="24" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <a routerLink="list">
                    Client List
               </a>
            </li>
            <li tabindex="1">
                <svg width="26" height="28" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin slice">
                    <g clip-path="url(#clip0_9_771)">
                    <path d="M5.87575 6L4.58325 7.41L8.78159 12L4.58325 16.59L5.87575 18L11.3758 12L5.87575 6Z" fill="#3DC427"/>
                    <path d="M11.9165 6L10.624 7.41L14.8224 12L10.624 16.59L11.9165 18L17.4165 12L11.9165 6Z" fill="#3DC427"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_9_771">
                    <rect width="22" height="24" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
                    <a routerLink="allAccounts">
                        Account List
                    </a>
            </li>
            <li tabindex="2">
                <svg width="26" height="28" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin slice">
                    <g clip-path="url(#clip0_9_771)">
                    <path d="M5.87575 6L4.58325 7.41L8.78159 12L4.58325 16.59L5.87575 18L11.3758 12L5.87575 6Z" fill="#3DC427"/>
                    <path d="M11.9165 6L10.624 7.41L14.8224 12L10.624 16.59L11.9165 18L17.4165 12L11.9165 6Z" fill="#3DC427"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_9_771">
                    <rect width="22" height="24" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
                    <a routerLink="signin">
                        Logout
                    </a>
            </li>
        </ul>

    </div>

        


</div>

