<form #mainForm = "ngForm">
    <h4>Create a client</h4>
    <input [(ngModel)]="client.identity.lastName" class="formText" placeholder="Last Name" name="lastName"/> <br>
    <input [(ngModel)]="client.identity.firstName" class="formText" placeholder="First Name" name="firstName"/> <br>
    <input [(ngModel)]="client.contactDetails.mail" class="formText" placeholder="Mail adress" name="mail"/> <br>
    <input [(ngModel)]="client.contactDetails.phoneNumber" class="formText" placeholder="Phone number" name="phoneNumber"/> <br>
    <input [(ngModel)]="client.contactDetails.address" class="formText" placeholder="Address" name="address"/> <br>
    <input [(ngModel)]="client.contactDetails.city" class="formText" placeholder="City" name="city"/> <br>
    <input [(ngModel)]="client.contactDetails.postalCode" class="formText" placeholder="Postal Code" name="postalCode"/> <br>
<h3></h3>
</form>
<button (click)="createClient()">Create Client</button>
<h2></h2>
<button (click)="deleteClient()">Delete Client</button>