<h1>Welcome Advisor</h1>
<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Link 1</th>
                <th>Link 2</th>
            </tr>
        </thead>
        @if (clients.length > 0) {
        <tbody>
          <tr *ngFor="let bClient of clients">
            <td>{{ bClient.id }}</td>
            <td>{{ bClient.identity.firstName }}</td>
            <td>{{ bClient.identity.lastName }}</td>
            <td><a [routerLink]="['/link1', bClient.id]">Client Details</a></td>
            <td><button (click)="goToAccountDetails(bClient)">Account Details</button></td>
          </tr>
        </tbody>
    } @else {
        <p>No client registered</p>
    }
</table>
<button routerLink="/createClient">Create new client</button>
<button routerLink="/simulationCredit">Simulation Credit</button>