#form-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#title-form {
    margin-bottom: 0;
}

#form-text-authent {
    color: #D6D6D6;
    margin: 0 0 2rem 0;
    font-size: smaller;
}

#form-create {
    display: flex;
    flex-direction: column;
    width: 80%;
}
#header {
    padding: 0.25rem 0.8rem;
    margin: 2rem auto;
    background: #82f76f;
    border-radius: 4px;
    border: none;
  }

#submit-btn {
    width: 300px;
    margin: 2rem auto;
  
  }

 #delete-btn {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    background: #FF848B;
    padding: 0.25rem 0.8rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    border: 3px outset #f58d92;
    transition: 0.1s;
    &:hover{
        background-color: #f45a61;
        border: 3px outset #f26269;
    }
} 

#meteorite {
    max-width: 30px ;
    max-height: 18px;
   
}

.label {
    font-weight: bold;
    margin: 1rem 0 0.2rem 0;
}




@media (min-width: 768px) {
}

@media (min-width: 1200px) {

 #form-create {
  width: 32%;
 }

 #create-btn {
   margin-top: 4rem;
   margin-bottom: 1rem;
   margin-left: auto;
   width: 25%;
   padding: 0.5rem 0.9rem;
   cursor: pointer;
 }

  #delete-btn {
    margin: 2rem auto;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
  } 
}